.sellOrBuy {
    --slds-c-icon-color-foreground-default: green !important;
    --slds-c-icon-color-foreground: green !important;
}
.slds-icon-utility-check {
    --slds-c-icon-color-foreground-default: green !important;
    --slds-c-icon-color-foreground: green !important;
}